body {
	background-repeat: no-repeat;
	margin:50px;
	background-size:1300px 610px;
	background-color: black;
	background-attachment: fixed;
	background-position:center;
	height:600px;
}
	
	
div.transbox {
  width:400px; 
  height:500px;  
  margin-top:130px;
  margin-left:30px;
  background-color:#0B0C0D; 
  border:1px solid black;
  opacity:0.8;
  border-radius: 30px;
		    }
		
		
name {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color :#9B4800;
	margin-top:130px;
	margin-left:95px;				
		}
wp {
   font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
   font-size: 15;
   font-weight:bold;
   color: #0FF;
   margin-left:33px;
		}	
wp1 {
	font-size: 20;
	margin-left: 170px;
	color: #33EF1D;
		}
wp2 {
	font-size: 17;
	margin-left: 155px;
	color: #33EF1D;
	font-weight: bold;
		}
		
wp3 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 20;
	margin-left: 180px;
	color: #33EF1D;
		}
		
wp4 {		
   margin-left:99px;
		}
		
wp5 {
	margin-left:150px;
		}
wp6 {
	margin-left: 10px;
		}
wp7 {
	margin-left: 10px;
		}
		
imgahmad {
     margin:105px;
	

		}

p.copy{
	color: #FFF;
	margin: 20px 10px;
}